<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online courses</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="/assets/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css"/>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css"/>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd; margin-left: 300px;">
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post" class="form-group" role="form">
            <h3>Registration Form</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{name}" placeholder="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12" style="height: 20px;">
                        <input type="date" class="form-control"
                               th:field="*{birthdate}" th:value="${#dates.createNow()}" placeholder="Date of birth"/>
                </div>
            </div>
            <br>
<!--            <div class="form-group">-->
<!--                <div class="input-group date">-->
<!--                    <input type="date" class="form-control" id="birthdate" autocomplete="off"-->
<!--                           th:field="*{birthdate}" th:value="${#dates.createNow()}" placeholder="Date of birth"/>-->
<!--&lt;!&ndash;                    <input type="date" th:value="${#dates.createNow()}" th:field="*{birthdate}" class="form-control" placeholder="Date of birth"/>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-lg btn-primary">Register user</button>
                    <a type="button" class="btn btn-lg btn-success" href="/login">Login</a>
                </div>
            </div>
            <span th:utext="${successMessage}"></span>
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">×</button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>


<script src="/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>

<!--<script>-->
<!--    $('.cls').datepicker("destroy");-->
<!--    orgDate = $.datepicker.parseDate('yyyy-MM-dd', $(Date.now()).val());-->
<!--    orgDate.setDate(orgDate.getDate());-->
<!--    $( ".cls" ).datepicker({-->
<!--        maxDate: '0'-->
<!--    });-->

<!--// &lt;!&ndash;     // $(".cls").datepicker({maxDate: '0'});&ndash;&gt;-->
<!--</script>-->


</body>
</html>